@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'MyCustomFont';
    src: url('../public/font/WinterStorm.ttf') format('truetype');
}

.my-custom-font {
    font-family: 'MyCustomFont', serif;
}