.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 1s, fadeOut 0.5s 0.5s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes fadeOut {
    from { opacity: 1; }
    to { opacity: 0; }
}

.arrow {
    width: 200px;
    height: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    filter: invert(100%);
}

.arrow.up {
    background-image: url('../../../../public/images/up-arrow3.png');
}

.arrow.down {
    background-image: url('../../../../public/images/arrow-down.png');
}

.arrow.left {
    background-image: url('../../../../public/images/arrow.png');
}

.arrow.right {
    background-image: url('../../../../public/images/right-arrow.png');
}