/* فایل fonts.css */
@font-face {
    font-family: 'WinterStorm';
    src: url('../public/font/WinterStorm.ttf') format('truetype');
}
@font-face {
    font-family: 'LunchFox';
    src: url('../public/font/Lunch Fox.otf') format('truetype');
}
@font-face {
    font-family: 'Jersey15-Regular';
    src: url('../public/font/Jersey15-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Vertically';
    src: url('../public/font/Vertically.otf') format('truetype');
}
@font-face {
    font-family: 'DEMITHS';
    src: url('../public/font/DEMITHS.otf') format('truetype');
}
@font-face {
    font-family: 'CuteDino';
    src: url('../public/font/Cute Dino.ttf') format('truetype');
}
@font-face {
    font-family: 'Chelsey';
    src: url('../public/font/Chelsey.otf') format('truetype');
}
