:root {
    --text-color-light: #333;
    --text-color-dark: #fff;
}

[data-theme='light'] {
    --text-color: var(--text-color-light);
}

[data-theme='dark'] {
    --text-color: var(--text-color-dark);
}